@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bi8cz0');
  src:  url('fonts/icomoon.eot?bi8cz0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bi8cz0') format('truetype'),
    url('fonts/icomoon.woff?bi8cz0') format('woff'),
    url('fonts/icomoon.svg?bi8cz0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-by:before {
  content: "\e90a";
}
.icon-cc:before {
  content: "\e90b";
}
.icon-nc-eu:before {
  content: "\e90c";
}
.icon-nc-jp:before {
  content: "\e90d";
}
.icon-nc:before {
  content: "\e90e";
}
.icon-nd:before {
  content: "\e90f";
}
.icon-pd:before {
  content: "\e910";
}
.icon-remix:before {
  content: "\e911";
}
.icon-rs-no:before {
  content: "\e912";
}
.icon-rs-unknown:before {
  content: "\e913";
}
.icon-rs-yes:before {
  content: "\e914";
}
.icon-sa:before {
  content: "\e915";
}
.icon-samplingplus:before {
  content: "\e916";
}
.icon-sampling:before {
  content: "\e917";
}
.icon-share:before {
  content: "\e918";
}
.icon-zero:before {
  content: "\e919";
}
.icon-copyright:before {
  content: "\e91a";
}
.icon-external-link:before {
  content: "\e900";
}
