$title-height: 54px;
$def-padding: 16px;
$mid-grey: #4b4b4b;

$bp-med: 50em;
$bp-large: 60em;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  min-width: 375px;
  padding: 0;
}

.attribution {
  background: #fff;
  border-radius: 4px;
  color: #000;
  display: none;
  font-size: 14px;
  max-width: 375px;
  padding: $def-padding;
  pointer-events: all;
  position: absolute;
  z-index: 1;

  a {
    color: #000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.rights-list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    margin-right: 4px;
  }

  a {
    text-transform: uppercase;
  }
}

.field {
  box-sizing: border-box;
  display: flex;
  line-height: 19px;
  max-height: 38px;
  overflow: hidden;

  &:not(:first-of-type) {
    margin-top: 6px;
  }

  .fname {
    color: $mid-grey;
    display: inline-block;
  }

  .fname::after {
    content: '';
    margin-right: 0.5em;
  }
}

/* info button */

.btn.btn-info {
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.7);
  height: 1em;
  line-height: 1em;
  order: 1;
  width: 1em;

  &:hover {
    fill: rgba(255, 255, 255, 1);
  }

  &.open {
    fill: #0771ce;
  }
}

/* info button override media-player font-size and padding-right settings */

.player-wrapper {
  .btn.btn-info {
    font-size: 24px;
  }
}

/* info button override for images */

.image {
  .btn.btn-info {
    bottom: $def-padding;
    pointer-events: all;
    position: absolute;
    right: $def-padding;
  }

  .btn.btn-info:hover ~ .attribution,
  .attribution:hover {
    display: block;
  }

  .attribution {
    bottom: 8px;
    right: 8px;
  }
}

.showing {
  display: block;
  transform: translateX(0);
}

.player-wrapper {
  background-color: #eee;
  overflow: hidden;
  position: relative;
}

.player-wrapper .loading::after {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eee 10%, #ddd 18%, #eee 33%);
  background-size: 300% 100%;
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.image > img {
  display: block;
  max-width: 100%;
  max-width: 100%;
}

.audio,
.video {
  // force the aspect ratio
  padding-top: 75%;

  .attribution {
    bottom: 56px;
    right: $def-padding;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.eups-player {
  position: absolute;
  top: 0;
}
